#root {
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  background: linear-gradient(90deg, #ed5c13 20%, #e90b6b 100%);
}


.App {
  margin: 0 auto;
  text-align: center;
  width: 100vh;
  height: 100vh;
}
